*{
    margin: 0px;
}
html{
    font-family: Arial;
}
#logo{
    background-color:rgb(162,117,87);
    width: 20%;
    height: 100px;

}
#menu{
    background-color:rgb(162,117,87);
    width:80%;
    height: 100px;
    text-align: right;

}
#banner{
    background-color: rgb(74,45,32);
    color:white;
    text-align: center;
    padding: 30px;

}
#stopka{
    background-color: rgb(74,45,32);
    color:white;
    text-align: center;
    padding: 30px;
   
}
#lewy{
        background-color: rgb(162,117,87);
        color: white;
        width: 50%;
        height: 500px;
    }
#prawy{
        background-color: rgb(162,117,87);
        color: white;
        width: 50%;
        height: 500px;
    }

h1{
    letter-spacing: 10px;
}
a{
    color: rgb(65,98,85 );
    padding: 20px;
    margin: 10px;
    margin-top: 100px;
    font-size: 150%;
    height: 100px;
    border: 1px solid rgb(65,98,85);
}
#cztery{
    text-decoration-line:line-through;
}

.rzad{
    display: flex;
    flex-direction: row;
}